.link-thumbnail .ion-md-add::before{
    font-weight: 700;
    font-size: 35px;
}

.half .image div {
    width: 100%;
    height: 100%;
}

.half .image .image-display {
    background-size: cover;
    background-position: center center;
}

.media-custom > .a-like {
    position: relative;
    overflow: hidden;
}

.btn-faq{
    white-space:normal;
}
/*.half .image img {*/
/*    object-fit: cover;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/

.item-article {
    height: 100%;
}

.item-article .blog-entry{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.item-article .blog-entry .text{
    flex-grow: 2;
    display: flex;
    flex-direction: column;
}

.flex-grow-3 {
    flex-grow:3;
}