.link-thumbnail .ion-md-add::before{
    font-weight: 700;
    font-size: 35px;
}

.half .image div {
    width: 100%;
    height: 100%;
}

.half .image div.x-border {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translateY(-50%);
    height: initial;
}

.half .image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}